<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/5c1873ff6c.js" crossorigin="anonymous"></script>
    <title>Kitchening</title>
</head>

<body class="home">
    <header>
        <div class="logo">
        </div>
        <button><i class="fas fa-bars"></i></button>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="box-banner">
            <div>
                <img src="/img/img-banner.jpg" alt="banner" />
            </div>
        </section>
        <section class="box-products">
            <article class="product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/img/img-pdto-1.jpg" alt="imagen-producto" />
                    <img class="home__product__dto" src="/img/img-descuento.png" alt="sticker-descuento" />
                    <a href="" class="label">Ampliar foto</a>
                </div>

                <h4>Lorem ipsum dolor.</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt
                    animi illo nostrum dolores nobis?
                </p>
                <a href="#" class="more">Ver más</a>
            </article>
            <article class="product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/img/img-pdto-2.jpg" alt="imagen-producto" />
                    <img class="home__product__dto" src="/img/img-gratis.png" alt="sticker-gratis" />
                    <a href="" class="label">Ampliar foto</a>
                </div>

                <h4>Lorem ipsum dolor.</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt
                    animi illo nostrum dolores nobis?
                </p>
                <a href="#" class="more">Ver más</a>
            </article>
            <article class="product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/img/img-pdto-3.jpg" alt="imagen-producto" />
                    <img class="home__product__dto" src="/img/img-nuevo.png" alt="sticker-nuevo" />
                    <a href="" class="label">Ampliar foto</a>
                </div>

                <h4>Lorem ipsum dolor.</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt
                    animi illo nostrum dolores nobis?
                </p>
                <a href="#" class="more">Ver más</a>
            </article>
            <article class="product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/img/img-pdto-1.jpg" alt="imagen-producto" />
                    <img class="home__product__dto" src="/img/img-descuento.png" alt="sticker-descuento" />
                    <a href="" class="label">Ampliar foto</a>
                </div>

                <h4>Lorem ipsum dolor.</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt
                    animi illo nostrum dolores nobis?
                </p>
                <a href="#" class="more">Ver más</a>
            </article>
            <article class="product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/img/img-pdto-2.jpg" alt="imagen-producto" />
                    <img  class="home__product__dto" src="/img/img-gratis.png" alt="sticker-gratis" />
                    <a href="" class="label">Ampliar foto</a>
                </div>

                <h4>Lorem ipsum dolor.</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt
                    animi illo nostrum dolores nobis?
                </p>
                <a href="#" class="more">Ver más</a>
            </article>
            <article class="product">
                <div class="home__product__box-image" >
                    <img class="home__product__image" src="/img/img-pdto-3.jpg" alt="imagen-producto" />
                    <img class="home__product__dto" src="/img/img-nuevo.png" alt="sticker-nuevo" />
                    <a href="" class="label">ampliar foto</a>
                </div>

                <h4>Lorem ipsum dolor.</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At incidunt
                    animi illo nostrum dolores nobis?
                </p>
                <a href="#" class="more">Ver más</a>
            </article>
        </section>
    </main>
    <footer class="footer__menu">
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>